DATABASE_URL="sqlite:///database.db"
SECRET_KEY="your-secret-key"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=todo-api
POSTGRES_SERVER=db